body{
    text-align: center;
    margin-top: 50vh;
}
div{
    margin-bottom: 10px;
}
.title{
    font-size: xx-large;
}
#Answer{
    font-size: xx-large;
}
#Number{
    color: green;
}
#Data{
    color: red;
}