.modalWindow{
    text-align: center;
    z-index: 1;
    position: fixed;
    background-color: rgba(0,0,0,0.4);
    overflow: auto;
    width: 100vw;
    height: 100vh;
    left: 0;
    top: 0;
}
.modalBtn{
    background-color: lightgreen;
    width: 100px;
    height: 50px;
    font-weight: bold;
    margin-top: 30px;
    cursor: pointer;
}
.modalContent{
    background-color: whitesmoke;
    text-align: center;
    font-weight: bolder;
    margin: 30%;
    padding: 30px;
}
.taskdiv{
    position: fixed;
    color: whitesmoke;
    text-align: center;
    font-size: larger;
    background-color: royalblue;
    border-color: red;
    border-radius: 25%;
    width: 80vw;
    height: 80vh;
    line-height: 80vmin;
    margin: 10%;
}
